.col1 {
    border: 1px solid rgb(190, 190, 190);
    padding: 8px;
    width: 300px;
    text-align: left;
    background-color: lightblue;
}
.col2 {
    border: 1px solid rgb(190, 190, 190);
    padding: 8px;
    width: 300px;
    text-align: left;
    background-color: lightblue;
}
.textarea{
    width: 100px;
    height: 100px;
    box-sizing: border-box;
    border: 1px solid black;
}
h2{
    text-align: center;
    background-color: lightblue;
    width: 600px;
    margin-left: 370px;
}
table{
    margin-left: 375px;
    align-content: center;
    border: 1px solid rgb(200, 200, 200);
    letter-spacing: 1px;
    font-family: sans-serif;
    font-size: .8rem;
}